/*
 * flasky.css_t
 * ~~~~~~~~~~~~
 *
 * Sphinx stylesheet -- flasky theme based on nature theme.
 *
 * :copyright: Copyright 2007-2010 by the Sphinx team, see AUTHORS.
 * :license: BSD, see LICENSE for details.
 *
 */
 
@import url("basic.css");

/* webfonts */
@import url("//fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic|Droid+Sans+Mono");

@import url("./font-awesome-4.2.0/css/font-awesome.css");
 
/* -- page layout ----------------------------------------------------------- */
body {
    font-family: 'Droid Serif', serif;
    font-size: 15px;
    background-color: #ddd;
    color: #000;
    margin: 0;
    padding: 0;
}

div.document {
    background: #fafafa;
    margin-bottom: 40px;
}

div.documentwrapper {
    float: left;
    width: 100%;
}

div.bodywrapper {
    margin: 0 0 0 230px;
}

hr {
    border: 1px solid #B1B4B6;
}
 
div.body {
    background-color: #ffffff;
    color: #333333;
    padding: 0 30px 30px 30px;
    min-height: 34em;
    max-width: 60em;
}

img.floatingflask {
    padding: 0 0 10px 10px;
    float: right;
}
 
div.footer {
    position: absolute;
    right: 0;
    margin-top: -60px;
    text-align: right;
    color: #888;
    padding: 10px;
    font-size: 14px;
}
 
div.footer a {
    color: #888;
    /* text-decoration: underline; */
    text-decoration: none;
}
 
div.footer a:hover {
    text-decoration: underline;
}

div.related {
    line-height: 32px;
    color: #888;
}

div.related ul {
    padding: 0 0 0 10px;
}
 
div.related a {
    color: #444;
}
 
div.sphinxsidebar {
    font-size: 14px;
    line-height: 1.5;
}

div.sphinxsidebarwrapper {
    padding: 0 20px;
}

div.sphinxsidebarwrapper p.logo {
    padding: 20px 0 10px 0;
    margin: 0;
    text-align: center;
}
 
div.sphinxsidebar h3,
div.sphinxsidebar h4 {
    font-family: 'Droid Serif', serif;
    color: #222;
    font-size: 20px;
    font-weight: normal;
    margin: 20px 0 5px 0;
    padding: 0;
}

div.sphinxsidebar h4 {
    font-size: 20px;
}
 
div.sphinxsidebar h3 a {
    color: #444;
}
 
div.sphinxsidebar p {
    color: #555;
    margin: 10px 0;
}
 
div.sphinxsidebar ul {
    margin: 10px 0;
    padding: 0;
    color: #000;
}
 
div.sphinxsidebar a {
    color: #444;
    text-decoration: none;
}

div.sphinxsidebar a:hover {
    text-decoration: underline;
}
 
div.sphinxsidebar input {
    border: 1px solid #ccc;
    font-family: 'Droid Serif', serif;
    font-size: 1em;
}
 
/* -- body styles ----------------------------------------------------------- */
 
a {
    color: #004B6B;
    text-decoration: none;
}
 
a:hover {
    color: #6D4100;
    text-decoration: underline;
}

div.body {
    padding-bottom: 40px; /* saved for footer */
}
 
div.body h1,
div.body h2,
div.body h3,
div.body h4,
div.body h5,
div.body h6 {
    font-family: 'Droid Serif', serif;
    font-weight: normal;
    margin: 30px 0px 10px 0px;
    padding: 0;
}
 
div.body h1 { margin-top: 0; padding-top: 20px; font-size: 240%; }
div.body h2 { font-size: 180%; }
div.body h3 { font-size: 150%; }
div.body h4 { font-size: 130%; }
div.body h5 { font-size: 100%; }
div.body h6 { font-size: 100%; }
 
a.headerlink {
    color: white;
    padding: 0 4px;
    text-decoration: none;
}
 
a.headerlink:hover {
    color: #444;
    background: #eaeaea;
}
 
div.body p, div.body dd, div.body li {
    line-height: 1.4em;
}

div.admonition {
    background: #fafafa;
    /*margin: 20px -30px;*/
    padding: 0px 12px 12px 12px; 
    /* line-height: 24px; */
    margin-bottom: 24px;
    margin-top: 20px;
    /* padding: 10px 30px; */
    /* border-top: 1px solid #ccc; */
    /* border-bottom: 1px solid #ccc; */
}

div.admonition p.admonition-title {
    font-family: 'Droid Serif', serif;
    font-weight: normal;
    font-size: 24px;
    /* margin: 0 0 10px 0; */
    /* padding: 0; */
    line-height: 1;

    display: block;
    /* color: #FFF; */
    margin: 0px -12px 8px;
    padding: 6px 12px;

}

div.admonition p {
    margin-bottom: 0;
    margin-top: 0;
}

div.admonition p.last {
    margin-bottom: 0;
}

div.highlight{
    background-color: white;
}

dt:target, .highlight {
    background: #FAF3E8;
}

div.note {
    background: none repeat scroll 0% 0% #E7F2FA;
}

div.note p.first.admonition-title {
    background: none repeat scroll 0% 0% #6AB0DE;
}

 
div.seealso {
    background-color: #ffc;
    border: 1px solid #ff6;
}
 
div.topic {
    background-color: #eee;
}
 
div.warning {
    background: none repeat scroll 0% 0% #FFEDCC;
}
 
div.warning p.first.admonition-title {
    background: none repeat scroll 0% 0% #F0B37E;
}

/* p.admonition-title { */
/*     display: inline; */
/* } */
 
/* p.admonition-title:after { */
/*     content: ":"; */
/* } */

p.admonition-title:before {
    content: "\f06a ";
    margin-right: 6px;
    font-family: "FontAwesome";
}

div.seealso p.first.admonition-title {
    color: inherit;
}

div.seealso p.admonition-title:before {
    content: none;
}

pre, tt {
    font-family: 'Droid Mono', 'Consolas', 'Menlo', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: 0.9em;
}

img.screenshot {
}

tt.descname, tt.descclassname {
    font-size: 0.95em;
}

tt.descname {
    padding-right: 0.08em;
}

img.screenshot {
    -moz-box-shadow: 2px 2px 4px #eee;
    -webkit-box-shadow: 2px 2px 4px #eee;
    box-shadow: 2px 2px 4px #eee;
}

table.docutils {
    border: 1px solid #888;
    -moz-box-shadow: 2px 2px 4px #eee;
    -webkit-box-shadow: 2px 2px 4px #eee;
    box-shadow: 2px 2px 4px #eee;
}

table.docutils td, table.docutils th {
    border: 1px solid #888;
    padding: 0.25em 0.7em;
}

table.field-list, table.footnote {
    border: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

table.footnote {
    margin: 15px 0;
    width: 100%;
    border: 1px solid #eee;
}

table.field-list th {
    padding: 0 0.8em 0 0;
    white-space: nowrap;
}

table.field-list td {
    padding: 0;
}

table.footnote td {
    padding: 0.5em;
}

dl {
    margin: 0;
    padding: 0;
}

dl dd {
    margin-left: 30px;
}

dl.function, dl.class, dl.exception {
    border-top: 3px solid #6AB0DE;
    /* padding-top: 1em; */
    padding-bottom: 1em;
    clear: both;
}

dl.method {
    padding-top: 1em;
}

dl.function dt, dl.class dt, dl.exception dt{
    background-color: #E7F2FA;
}

dd.field-even dt, dd.field-odd dt{
    background-color: inherit;
}

dl.function dt.field-even, dl.function dt.field-odd,
dl.class dt.field-even, dl.class dt.field-odd,
dl.exception dt.field-even, dl.exception dt.field-odd {
    background-color: inherit;
}

dl.docutils dt {
    background-color: inherit;
}

dl.citation dt {
    background-color: inherit;
}

ol.arabic li dl dt {
    background-color: inherit;
}

.brackets:before {
  content: "[";
}

.brackets:after {
  content: "]";
  margin-right: 10px;
}

a.brackets::before, span.brackets > a::before
{
  content: "";
}

a.brackets::before, span.brackets > a::after
{
  content: "";
}

a.fn-backref:before {
  content: "";
}

a.fn-backref:after {
  content: "";
}

dl.footnote.brackets:before {
  content: "";
}

dl.footnote.brackets:after {
  content: "";
}

/* .fn-backref { */
/*     margin-right: 10px; */
/* } */

pre {
    background: #eee;
    padding: 7px 30px;
    margin: 15px -30px;
    line-height: 1.3em;
}

dl pre {
    margin-left: -60px;
    padding-left: 60px;
}

dl dl pre {
    margin-left: -90px;
    padding-left: 90px;
}
 
tt {
    background-color: #ecf0f3;
    color: #222;
    /* padding: 1px 2px; */
}

tt.xref, a tt {
    /* background-color: #FBFBFB; */
    background-color: transparent;
}

/* a:hover tt { */
/*     background: #EEE; */
/* } */

.toctree-wrapper ul
{
    list-style-type: none;
}
 
ul li.toctree-l1 {
    text-indent: -1.4em;
}

ul li.toctree-l1:before {
    font-family: "FontAwesome";
    content: "\f101";
    float: left;
    width: 1em;
}

ul li ul li.toctree-l2:before {
    font-family: "FontAwesome";
    content: "\f105";
    float: left;
    width: 1em;
}

ul li ul li ul li.toctree-l3:before {
    font-family: "FontAwesome";
    content: "\f0da";
    float: left;
    width: 1em;
}

